<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Spring boot crud with JDBC</a>
        </div>
    </nav>

    <section class="d-flex justify-content-center align-items-center min-vh-100">
        <section class="card w-25">
            <div class="card-header">
                Login section
            </div>
            <div class="card-body">
              <form action="#" class="d-flex flex-column" th:object="${loginCredentials}" th:action="@{users/login}" method="post">
                <label for="username">Username</label>
                <input class="form-control" th:field="*{username}" type="text" placeholder="Type your username">
                <label for="password">Password</label>
                <input class="form-control" th:field="*{password}" type="password" placeholder="Type your password">
                <input type="submit" class="btn btn-primary" value="Login">
              </form>
            </div>
        </section>
    </section>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>